<app-menu-lateral></app-menu-lateral>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscal Entrada</title>
</head>
<body>
    <main>
        <div class="container">
            <form action="" method="post">
                <h4 class="bg-light">Cadastro de cliente</h4>
                <div class="client-group">
                    <div>
                        <label for="name">Nome completo: </label>
                        <input type="text" name="nome" id="nome"><br>
                    </div>

                    <div>
                        <label for="name">CPF:</label>
                        <input type="text" name="cpf" id="cpf"><br>
                    </div>

                    <div>
                        <label for="name">Cartão:</label>
                        <input type="text" name="cartao" id="cartao"><br>
                    </div>
                </div>

                    <div class="client-btn">
                        <button type="submit">Salvar</button>

                        <button type="submit">Cancelar</button>

                        <button type="reset">Novo</button>
                    </div>
                </form>
        </div>
    </main>
</body>
</html>
