<h1 mat-dialog-title>Vender</h1>
<div mat-dialog-content>
  <form [formGroup]="venderForm" action="">
    <mat-form-field appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input formControlName="qtd" matInput type="number" [(ngModel)]="peso">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>RFID do Produto</mat-label>
      <input formControlName="rfid" matInput>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
      <button mat-raised-button (click)="vender()">Vender</button>
    </div>
  </form>
</div>

