<router-outlet></router-outlet>
<img src="/assets/igor.jpg" width=160 height=160>
<div class="buttonMenu">
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(2)" (click)="caixa()">Caixa</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(6)" (click)="fiscalSaida()">Fiscal Saída</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(5)" (click)="fiscalEntrada()">Fiscal Entrada</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(4)" (click)="funcionarioCafeteria()">Funcionario Cafeteria</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(3)" (click)="cadastrarProdutos()">Cadastrar Produtos</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(3)" (click)="entradaEstoque()">Entrada Estoque</button><br><br>
    <button class="buttonMenu" mat-raised-button color="primary" *ngIf="definirVisibilidade(1)" (click)="administrador()">Administrador</button>
</div>
