<div class="conteudo-login">    
  <form [formGroup]="loginForm" (submit)="submitLogin()" autocomplete="off">
    <div>
      <h3>Login</h3>
      <mat-form-field class="conteudo-form" hintLabel="Max 14 characters" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput #input maxlength="14" placeholder="Ex. 111.111.111-11" formControlName="cpf" autocomplete="off">
        <mat-hint align="end">{{input.value?.length || 0}}/14</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="conteudo-form" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" autocomplete="off">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" class="input-submit" type="submit" (click)="submitLogin()">Login</button>
      <button mat-stroked-button color="primary" class="input-submit" type="reset">Limpar</button>
    </div>
  </form>
</div>

<div class="conteudo-login">
  <button mat-stroked-button color="primary" 
          class="input-submit" 
          type="reset" 
          (click)="buscarProdutos()"> Buscar Produto </button>
</div>
